@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --display-font: "Josefin Sans";
    --copy-font: "Poppins";
    --blue: #05386B;
    --blue-green: #379683;
    --green: #5cdb95;
    --light-green: #8ee4af;
    --white: #edf5e1;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: auto;
    background-color: var(--blue);
    color: var(--white);
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-btn{
    border: none;
    border-radius: 1.5rem;
    height: 2rem;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-family: var(--display-font);
    font-weight: 700;
    font-size: 1rem;
    color: var(--blue-green);
    cursor: pointer;
    background-color: var(--white);
}

.submit-btn:hover{
    color: var(--white);
    background-color: var(--blue-green);
}

.input-label{
    margin-bottom: .5rem;
    margin-right: .5rem;
    font-family: var(--display-font);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--white);
}

.input-text{
  font-size: 1rem;
  font-family: var(--copy-font);
  color: var(--white);
  font-weight: 300;
  min-width: 45vw;
  height: 2rem;
  padding: .5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--blue-green);
  margin-bottom: 1rem;
}

.input-number{
    font-size: 1rem;
    font-family: var(--copy-font);
    color: whitesmoke;
    font-weight: 300;
    width: 8vw;
    height: 2rem;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(137, 157, 177);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/***********
Image Formatting
***********/

.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.img-comp{
    flex: 2;
    position: relative;
}

.responsive{
    width: 100%;
    height: auto;
    display: block;
}

.grid{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title'
        'yAxis graph'
        'xAxis xAxis'
        'source source';
}

.grid-extraRow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title'
        'xAxisT xAxisT'
        'yAxis graph'
        'xAxis xAxis'
        'source source';
}

.grid-extraCol{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* grid stying */
    visibility: visible;
    display: grid;
    grid-template-areas: 
        'title title title'
        'yAxis graph points'
        'xAxis xAxis xAxis'
        'source source source';
}

.title{
    grid-area: title;
    color: white;
    text-align: center;
    background-color: blue;
    opacity: .5;
    visibility: inherit;
}

.yAxis{
    grid-area: yAxis;
    color: white;
    text-align: center;
    background-color: var(--blue-green);
    opacity: .5;
    visibility: inherit;
}

.points{
    grid-area: points;
    color: white;
    text-align: center;
    background-color: var(--blue-green);
    opacity: .5;
    visibility: inherit;
}

.graph{
    grid-area: graph;
    color: white;
    text-align: center;
    background-color: yellowgreen;
    opacity: .5;
    visibility: inherit;
}

.xAxis{
    grid-area: xAxis;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    opacity: .5;
    visibility: inherit;
}

.xAxisT{
    grid-area: xAxisT;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    opacity: .5;
    visibility: inherit;
}

.source{    
    grid-area: source;
    color: white;
    text-align: center;
    background-color: green;
    opacity: .5;
    visibility: inherit;
}

/*********
Slider Formatting
*********/

.slide-obj{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.slider-comp{
    flex: 1;
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-tag{
    margin-bottom: .5rem;
    font-weight: 300;
}

.slider{
    margin-bottom: .95rem;
}

.spacer{
    height: 1px;
    width: 70%;
    margin: .5rem 0;
    background-color: var(--white);
}

.lock-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 975px) {
    .spacer{
        margin: .1rem 0;
    }
    .slider{
        margin-bottom: .1rem;
    }
    .slider-tag{
        margin-bottom: 0;
    }
}

/***********
 Fields Form
***********/

.form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 8rem;
}

.form-item{
    margin-bottom: 1rem;
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--blue-green);
}

.form-label{
    font-family: var(--copy-font);
    font-weight: 300;
    font-size: 1.12rem;
}

.form-input{
    border: none;
    height: 1.65rem;
    width: 100%;
    background-color: var(--light-green);
    color: var(--blue);
    font-size: 1rem;
    border-radius: .25rem;
    font-family: var(--copy-font);
    font-weight: 400;
}

.export-box{
    width: 75vw;
    height: 55vh;
    background-color: var(--light-green);
    color: var(--blue);
    font-family: var(--copy-font);
    font-weight: 300;
    text-align: left;
    padding: .32rem;
    border-radius: .5rem;
    border: none;
}

.lister{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75vw;
}

/************
    App Row
************/

.menu-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.radio-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}